# requirements.txt

certifi==2025.11.12
cffi==2.0.0
cryptography==46.0.3
packaging==25.0
pycparser==2.23
pydantic_core==2.41.4
PyQt3D==5.15.7
PyQt5==5.15.11
PyQt5_sip==12.17.1
PyQt6==6.10.0
PyQt6-3D==6.10.0
PyQt6-Charts==6.10.0
PyQt6-DataVisualization==6.10.0
PyQt6-NetworkAuth==6.10.0
PyQt6-QScintilla==2.14.1
PyQt6-WebEngine==6.9.0
PyQt6_sip==13.10.2
PyQtChart==5.15.7
PyQtDataVisualization==5.15.6
PyQtNetworkAuth==5.15.6
PyQtPurchasing==5.15.6
rpds-py==0.29.0
typing_extensions==4.15.0
wheel==0.45.1
lightning
torch
torchvision
datasets
datasets[vision]
ipykernel
matplotlib